<div class="row">    
    <div class="col-md-12 log-btns-container">
        <div class="">
            <div class="form-group update-btn-container">
                 <button name="manual-update" class="btn btn-success" [ngClass]="{'cron-progress': cronFlag}" (click)="updateFiles()">
                   <span *ngIf="!cronFlag else cron_msg">Start</span>
                   <ng-template #cron_msg> In Progress </ng-template>
                  </button>                  
              </div>  
              <button class="btn btn-danger" *ngIf="cronFlag" (click)="cancelCron()"> Stop                      
                </button>
            </div>
            <!-- <div class="form-group update-btn-container">
              <button name="manual-update" class="btn btn-warning" [ngClass]="{'active': logType==='Error'}" (click)="setLogType('Error')">
                View Error logs
               </button>                  
           </div>            
           <div class="form-group update-btn-container">
            <button name="manual-update" class="btn btn-info" [ngClass]="{'active': logType===''}" (click)="setLogType('')">
              View app/directory logs
             </button>                  
         </div>   -->
         </div>
      <div class="card log-container">
        <div class="card-header">
          <h4 class="card-title">Logs</h4>
          <p class="card-category"> Printer Logs from this machine: (Last 5 minutes)</p>
        </div>
        <div class="card-body">
          <div class="table-responsive log-table">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Date(UTC)
                </th>
                <th>
                  Message
                </th>                
                <th class="text-right">
                  Type
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let log of logs; let i=index">
                  <td>
                    {{log.formattedDate}}
                  </td>
                  <td>
                    {{log.Message}}
                  </td>                  
                  <td class="text-right">
                    {{log.Type}}
                  </td>
                </tr>               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
<!-- <div class="log-container">
    <div class="title">App Logs</div>
    <div class="content">
        <div class="no-logs" *ngIf="!showLogs">
                No logs yet...
        </div>
        <div class="log-list" *ngIf="logs.length!==0">
            <div class="single-log" *ngFor="let log of logs;let i=index">
                <span class="type">[{{log.type}}]</span>
                <span class="time">{{log.date}}:</span>
                <br />
                <span class="message">{{log.message}}</span>
            </div>
        </div>
    </div>
    
</div> -->